<% include header.html %>

<div class="middle">

	<div class="alert alert-success" style="display:none;" id="suggestSuccess">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      We have many more guides coming soon! Leave your email below to get notified when they're released.
  	</div>

  	<div class="alert alert-success" style="display:none;" id="emailSuccess">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      We'll notify you when we release additional guides!
  	</div>
	
	<div class="redBlock">
		<div class="leftRedText">Want to know</div>
		<div class="redBracket">{</div>
		<ul class="rightRedText">
			<li>what it's like to work at Facebook?</li>
			<li>what it's like to attend Harvard?</li>
			<li>how to get started with web development?</li>
			<li>how to market online for your business?</li>
		</ul>
	</div>



	<div class="aboutText">
	Insidesy is your one-stop shop for insider guides. We make it easy for you to find information from people in the know. By creating a marketplace where people with specific knowledge or skills can easily distribute and sell their expertise (in the form of a guide), we aim to increase access to information.</br></br>

	We just launched in March, and will be releasing many new guides on a variety of topics in the coming weeks. Leave your email below to get notified about our new guide releases! Contact us with any questions or feedback at team@insidesy.com. If you have any issues with payments or downloading guides, please email us and we'll respond asap.
	</div>

</div>


<% include footer.html %>