<!DOCTYPE html>
<html lang="en" ng-app>
	<head>		
		<link rel="icon" type="image/png" href="/gravatar.png">

		<title>Insidesy</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/guidePreviewStyle.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/headerStyle.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/footerStyle.css">
		
		<!-- jQuery -->		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

		<!-- Open Sans Font -->
		<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

		<!-- Twitter Bootstrap -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


		<!-- Google Analytics-->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-48983555-1', 'insidesy.com');
		  ga('send', 'pageview');
		</script>

	</head>

	<body>

		<!-- Facebook sharing-->
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
			 var js, fjs = d.getElementsByTagName(s)[0];
			 if (d.getElementById(id)) return;
			 js = d.createElement(s); js.id = id;
			 js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			 fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>


	<header class="navbar">
    	<div class="navbarInner">

      		<a href="/"><img src="/logo.png" id="logo" alt="logo"></a>

      		<form action="/submitSuggestion" method="post" id="suggestionForm" accept-charset="utf-8">
      			<input class="suggestionBox" name="suggest" type="text" placeholder="Search guide topics">
      		</form>

      		<a href="/yourguide" id="right-nav">Write and sell your own guide</a>

      		<a href="/about" id="right-nav">About</a>

    	</div>

		<!-- AJAX submit suggestion-->
		<script>
		$(document).ready(function(){   
      
			$('#suggestionForm').submit(function() {
			    $.ajax({
					dataType: 'json',
					data: $('#suggestionForm').serialize(),
					type: 'POST',
					url: "/submitSuggestion",
					success: successSuggestResponse,
			    });
				return false;
			});

			function successSuggestResponse(){
				document.getElementById('suggestSuccess').style.display = "block";
				document.getElementById("suggestionForm").reset();
			}
		});
		</script>

	</header>