<!DOCTYPE html>
<html lang="en" ng-app>
	<head>		
		<link rel="icon" type="image/png" href="/gravatar.png">

		<title>Insidesy</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/guidePreviewStyle.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/headerStyle.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/footerStyle.css">
		
		<!-- jQuery -->		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

		<!-- Open Sans Font -->
		<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

		<!-- Twitter Bootstrap -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


	</head>

	<body>

	<header class="navbar">
    	<div class="navbarInner">

      		<a href="/"><img src="/logo.png" id="logo" alt="logo"></a>

      		<form action="/submitSuggestion" method="post" id="suggestionForm" accept-charset="utf-8">
      			<input class="suggestionBox" name="suggest" type="text" placeholder="Search guide topics">
      		</form>

      		<a href="/yourguide" id="right-nav">Write and sell your own guide</a>

      		<a href="/about" id="right-nav">About</a>

      		<a href="/login" id="right-nav">Log in</a>


      	<!-- Button trigger modal -->
		<button data-toggle="modal" data-target="#signupModal">Sign up</button>

		<!-- Modal -->
		<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="signupModalLabel">Modal title</h4>
		      </div>
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>



    	</div>

		<!-- AJAX submit suggestion-->
		<script>
		$(document).ready(function(){   
      
			$('#suggestionForm').submit(function() {
			    $.ajax({
					dataType: 'json',
					data: $('#suggestionForm').serialize(),
					type: 'POST',
					url: "/submitSuggestion",
					success: successSuggestResponse,
			    });
				return false;
			});

			function successSuggestResponse(){
				document.getElementById('suggestSuccess').style.display = "block";
				document.getElementById("suggestionForm").reset();
			}
		});
		</script>

	</header>