<!-- Sign up Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">



	<div class="modal-dialog">

           <script>

            function checkPassword() {
                  $(".error").hide();
                        var hasError = false;
                        var passwordVal = $("#password").val();
                        var repasswordVal = $("#repassword").val();
                        if (passwordVal != repasswordVal ) {
                              $("#repassword").after('<span class="error">Passwords do not match.</span>');
                              hasError = true;
                        }
                        if(hasError == true) {return false;}
            }

      </script>

		<form onsubmit="return checkPassword()" method="post" action="/signup" id="signupForm" accept-charset="utf-8">
      	     <input class="suggestionBox" name="name" type="text" placeholder="name" required>

      	     <input class="suggestionBox" name="email" type="text" placeholder="email" required>

      	     <input id="password" class="suggestionBox" name="password" type="password" placeholder="password" required>

      	     <input id="repassword" class="suggestionBox" name="repassword" type="password" placeholder="re-enter password" required>

      	    <button id="submit" type="submit" class="btn btn-primary">Sign up</button>
      	</form>

	</div>


</div>


<!-- Log in Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="modal-dialog">

		<form action="/login" method="post" id="loginForm" accept-charset="utf-8">

      		<input class="suggestionBox" name="email" type="text" placeholder="email" required>

      	    <input class="suggestionBox" name="password" type="password" placeholder="password" required>

      	    <button type="submit" class="btn btn-primary">Log in</button>
      	</form>

	</div>
</div>