<% include header.html %>

<div class="middle">
    <div class="alert alert-success" style="display:none;" id="suggestSuccess">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      We have many more guides coming soon! Leave your email below to get notified when they're released.
    </div>

    <div class="alert alert-success" style="display:none;" id="emailSuccess">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        We'll notify you when we release additional guides!
    </div>

    <script type="text/javascript">
    window.onload = function(){
        document.location = '/Harvard.pdf.zip';
    }
    </script>

    <div class="aboutText">
	Thanks for the purchase! You should have just received an auto-download of the guide. If you experienced any technical difficulties with paying for or downloading the guide, please email team@insidesy.com and we’ll get it fixed promptly.</br></br>

    Note from the author: Please feel free to email me at mollyisgreen@gmail.com with any additional questions about Harvard! I will be happy to answer them and add them to the guide.</br></br>

    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_preferred_1"></a>
    <a class="addthis_button_preferred_2"></a>
    <a class="addthis_button_preferred_3"></a>
    <a class="addthis_button_preferred_4"></a>
    <a class="addthis_button_compact"></a>
    <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53338ed21a8a4e98"></script>
    <!-- AddThis Button END -->

    </div>
	
</div>


<% include footer.html %>