<% include header.html %>

<div class="middle">

	<div class="alert alert-success" style="display:none;" id="suggestSuccess">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      We have many more guides coming soon! Leave your email below to get notified when they're released.
  	</div>

    <div class="alert alert-success" style="display:none;" id="emailSuccess">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      We'll notify you when we release additional guides!
  	</div>

	<div class="redBlock">
		<div class="leftRedText">Do you have a unique perspective on</div>
		<div class="redBracket">{</div>
		<ul class="rightRedText">
			<li>an industry?</li>
			<li>a skill or hobby?</li>
			<li>a workplace or university?</li>
			<li>an interesting topic?</li>
		</ul>
	</div>



	<div class="aboutText">
	Capitalize on your expertise and create a passive income stream at Insidesy! Use our platform to distribute and sell your a guide detailing your perspective on a particular topic.</br></br>

	We’re going to launch our marketplace product soon, which will allow you to manage your own customers, sales, and guides. In the meantime, please email us at team@insidesy.com with your guide, and we’ll get everything set up for you!</br></br>
	</div>

</div>


<% include footer.html %>